<%- include('include/_header') %>

   
            <from action="/" method ="POST">
                <table class="table">
                    <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Имя</th>
                                <th>Почта</th>
                                <th>Пол</th>
                                <th>Статус</th>
                                <th>Действие</th>
                            </tr>
                            <tbody>
                                <%- include('include/_show') %>  
                            </tbody>
                        </table>
                     </from>
                     
                 </div>
             </main>

